<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>EJS</title>
</head>
<body>
  <h1>Welcome to Ejs page <%= 2+4 %></h1>
  <h1>Welcome to Ejs page <%= 12-4 %></h1>
</body>
<script src="/javascripts/script.js"></script>
</html>